.my-col-5 {
    width: 3%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid black;
}

.cell {
    display: inline-block;
    height: 0;
    padding-top:3%;
}

.even {
  background: yellow;
}

.odd {
  background: blue;
}
